<div class="wrapper" *ngIf="dataObj">
  <div class="page-header clear-filter" filter-color="green" *ngFor="let data of dataObj">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="    background: linear-gradient(to right, rgb(21, 87, 153), rgb(21, 153, 87));
    color: rgb(255, 255, 255);">
    </div>
      <div class="container">
          <div class="content-center brand">
            <img class="logo_start_page" src="./assets/img/deveth.png">
              <h1 class="h1-seo">{{data.page.title}}</h1>
              <h3>{{data.page.headline}}</h3>
                <a class="btn btn-primary btn-custom" type="button" routerLink="." fragment="whyDevEth">{{data.page.more_details}}</a>
                <a class="btn btn-primary btn-custom" type="button" routerLink="." fragment="project">COMMUNITY PROJECTS</a>
          </div>
      </div>
  </div>

  <div class="main">
        <ng-container *ngFor="let data of dataObj">
            <!-- {{data.some_background | json}} -->
            <div class="section section-basic padding-margin-tob-bottom" id="{{data.why_devETH.id}}">
                <div class="container">
                    <h2 class="title">{{data.why_devETH.title}}</h2>
                    <div innerHtml="{{data.why_devETH.content}}"></div>
                </div>
            </div>
            <div class="section section-basic padding-margin-tob-bottom" id="{{data.mining_guide.id}}">
                <div class="container">
                    <h2 class="title">{{data.mining_guide.title}}</h2>

                    <h3 class="title">Node Setup Linux</h3>
                    <p>→ Skip the node setup if you're going to mine using a pool
                    
                    If you're installing a full node, make sure you have an SSD with at least 1TB of free disk space. Run the following commands:</p>
                    
                    <p><code >git clone https://github.com/devethorg/go-ethereum.git -b deveth
                    cd go-ethereum
                    sudo apt install make golang-go
                    make geth</code ></p>
                    <p>and then:</p>
                    
                    <p><code >./build/bin/geth --syncmode fast --mine --miner.etherbase=YOUR_ADDRESS --cache 26000 --rpc --rpcaddr 127.0.0.1 
                        --rpcapi eth,web3,debug,net --rpcvhosts=* --networkid 777 --whitelist 11932937=0xb1bea4221644e68e90e305eed5e894bbe799234ac541fd7c909d838b7a7dda5b</code></p>
                    <p>Make sure to set the miner.etherbase to your address.</p>
                    
                    <p>Important: Remember that the network ID of devETH is still 777. Our chain ID is 787 and that is configured at the protocol level. Please make sure you are using a network ID of 777 when starting your node.</p>
                    
                    <p>The node will take several hours to synchronize.</p>
                    
                    <h3 class="title">GPU Mining Setup</h3>
                    <p>Download the latest ethminer from GitHub, unpack it and start using the following commands:</p>
                    
                    <code >wget https://github.com/ethereum-mining/ethminer/releases/download/v0.18.0/ethminer-0.18.0-cuda-9-linux-x86_64.tar.gz
                    tar -xvf ethminer-0.18.0-cuda-9-linux-x86_64.tar.gz
                    cd bin/</code>
                    <p>If you have a CUDA-Enabled Nvidia graphics card run:</p>
                    
                    <code >./ethminer -U -P http://127.0.0.1:8545/</code>
                    <p>If you have an AMD (OpenGL) graphics card run:</p>
                    
                    <code>./ethminer -G -P http://127.0.0.1:8545/</code >
                    <p>If you have any questions or you're facing issues setting yourself up don't hesitate to ask for help on our Discord server.</p>
                </div>
            </div>

            <div class="section section-basic comunity" id="project">
                <div class="container" style="padding: 60px 0;">
                    <h2 class="title text-center" style="margin: 0 0 80px 0;">List of community projects built on devETH</h2>

                    <div class="row">
                        <div class="col-md-12" style="color: #333;">
                              <tabs-component></tabs-component>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="section section-basic padding-margin-tob-bottom" id="{{data.wallet_setup.id}}">
                <div class="container">
                    <h2 class="title">{{data.wallet_setup.title}}</h2>

                    <div innerHtml="{{data.wallet_setup.content}}"></div>
                    <button id="metamask-button" (click)="mmButtonCallback($event)" class="mb-3 btn btn-lg btn-primary fw-bold border-danger bg-danger"> <span>Add to MetaMask</span></button>
                    <h4>how to setup</h4>
                    <video controls="" class="wallet-stup-video">

                        <source src="https://i.imgur.com/4RUl5I2.mp4" type="video/mp4">
                    
                        Sorry, your browser doesn't support embedded videos.
                    </video>
                    
                </div>
            </div>

            <div class="section section-basic some-background" id="{{data.some_background.id}}">
                <div class="container">
                    <h2 class="title">{{data.some_background.title}}</h2>

                    <div innerHtml="{{data.some_background.content}}"></div>
                    
                </div>
            </div>

            <div class="section section-basic padding-margin-tob-bottom" id="{{data.more_transparancy.id}}">
                <div class="container">
                    <h2 class="title">{{data.more_transparancy.title}}</h2>
                    <div innerHtml="{{data.more_transparancy.content}}"></div> 
                </div>
            </div>
        </ng-container>
  <footer class="footer" data-background-color="black">
      <div class="container">
          <div class="copyright">
              &copy;
              2021 devETH Foundation
              <a href="https://github.com/devethorg" target="_blank">github</a> | 
              <a href="https://twitter.com/devethorg" target="_blank">Twitter</a>.
          </div>
      </div>
  </footer>
</div>
