.navbar .navbar-nav .nav-item .nav-link:not(.btn):hover {
    border-radius: 0;
    border-bottom: 2px solid #fff;
    background: none !important;
}

.bg-primary {
    background-color: #01d891 !important;
}